<div class="container">
    <div style="height: 2rem;"></div>
    <div class="button-container">
        <button mat-raised-button class="button" (click)="createFloor()">Add Floor</button>
        <button mat-raised-button class="button" (click)="delete()">Delete</button>
    </div>

    <mat-form-field appearance="standard" style="width: 100%;">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. 1" #input>
    </mat-form-field>

    <table mat-table [dataSource]="floors!" class="mat-elevation-z8 table" multiTemplateDataRows>
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef="">
                <mat-checkbox (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)"></mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="floor_number">
            <th mat-header-cell *matHeaderCellDef>Floor Number</th>
            <td mat-cell *matCellDef="let floor">{{floor.floor}}</td>
        </ng-container>

        <ng-container matColumnDef="areas">
            <th mat-header-cell *matHeaderCellDef>Areas</th>
            <td mat-cell *matCellDef="let floor">
                <ng-container *ngFor="let area of floor.areas">
                    {{area.name}}<label *ngIf="area.name != floor.areas.slice(-1)[0].name">,</label>
                </ng-container>
            </td>
        </ng-container>

        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">Utils</th>
            <td mat-cell *matCellDef="let floor">
                <button mat-icon-button aria-label="expand row"
                    (click)="(expandedFloor = expandedFloor === floor ? null : floor); $event.stopPropagation()">
                    <mat-icon *ngIf="expandedFloor !== floor">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="expandedFloor === floor">keyboard_arrow_up</mat-icon>
                </button>
                <button (click)="createArea(floor.id)" mat-icon-button>Add area <mat-icon>library_add</mat-icon></button>
            </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let floor" [attr.colspan]="7">
                <div class="work-detail" [@detailExpand]="floor === expandedFloor ? 'expanded' : 'collapsed'">
                    <div style="padding-right: 1rem; margin-bottom: 1rem; margin-top: 1rem;"
                        *ngFor="let item of floor.areas; index as j">
                        <mat-accordion>
                            <mat-expansion-panel  style="margin-bottom: 1rem; width: 15rem;">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>{{item.name}}</mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-list class="overflow-auto" style="max-height: 25rem; min-height: 25rem">
                                    <mat-list-item style="font-size: 12px" *ngFor="let item of item.checklists">- {{item}}</mat-list-item>
                                </mat-list>
                                <div align="center">
                                    <button mat-raised-button color="accent" class="button" (click)="addNewTask(j, floor.id)">Add Task</button>
<!--                                    <button mat-raised-button color="accent" class="button" (click)="createFloor()">Edit Area</button>-->
                                    <button mat-raised-button color="warn" class="button" (click)="delete()">Delete Area</button>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
        <tr mat-row *matRowDef="let expandedRow; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>
</div>
