.table {
    width: 100%
}

.button-container {
    padding-bottom: 16px;
}

.button {
  font-size: 12px;
  padding: 0px;
}

.button + .button {
    margin-left: 8px;
}

.mat-header-cell {
    vertical-align: middle;
    border-right: 1px solid #595959;
    padding-left: 1rem
}

.mat-cell {
    vertical-align: middle;
    border-right: 1px solid #595959;
    padding-left: 1rem;
}


tr.detail-row {
    height: 0;
}

tr.work-row:not(.expanded-row):hover {
    background: rgb(105, 105, 105);
}

tr.work-row:not(.expanded-row):active {
    background: #424242;
}

work-row td {
    border-bottom-width: 0;
}

.work-detail {
    overflow: hidden;
    display: flex;
}
