<div class="container">
    <div style="height: 2rem;"></div>
    <div class="button-container">
        <button mat-raised-button class="button" (click)="createFloor()">Add Floor</button>
        <button mat-raised-button class="button" (click)="delete()">Delete</button>
    </div>

    <mat-form-field appearance="standard" style="width: 100%;">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. 1" #input>
    </mat-form-field>

    <table mat-table [dataSource]="floors!" class="mat-elevation-z8 table">
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef="">
                <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()"></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)"></mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="floor_number">
            <th mat-header-cell *matHeaderCellDef>Floor Number</th>
            <td mat-cell *matCellDef="let floor">{{floor.floor}}</td>
        </ng-container>

        <ng-container matColumnDef="areas">
            <th mat-header-cell *matHeaderCellDef>Areas</th>
            <td mat-cell *matCellDef="let floor">
                <ng-container *ngFor="let area of floor.areas">
                    {{area.name}}<label *ngIf="area.name != floor.areas.slice(-1)[0].name">,</label>
                </ng-container>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
    </table>
</div>