<mat-nav-list>
    <h2 matSubheader class="mt-2 the-text">Neat Admin</h2>
    <mat-divider>

    </mat-divider>
    <a class="the-text" mat-list-item routerLinkActive="list-item-active" routerLink="/general">
        <mat-icon>settings</mat-icon> General Settings
    </a>
    <!-- <a class="the-text" mat-list-item routerLinkActive="list-item-active" routerLink="/users">
        <mat-icon>settings</mat-icon> Users
    </a> -->
    <a class="the-text" mat-list-item routerLinkActive="list-item-active" routerLink="/floors">
        <mat-icon>edit</mat-icon> Floors Management
    </a>
    <a class="the-text" mat-list-item routerLinkActive="list-item-active" routerLink="/proofs">
        <mat-icon>image</mat-icon> Proof Images Storage
    </a>
    <a class="the-text" mat-list-item routerLinkActive="list-item-active" routerLink="/works">
        <mat-icon>category</mat-icon> Work Data
    </a>
</mat-nav-list>