mat-toolbar{
    position: sticky;
    top: 0;
    z-index: 100;
}

ul {
    li{
        list-style: none;
    }
}

button{
    border: 0;
    outline: none;
    background: transparent;
}

.user {
    font-size: 14px;
    background-color: white;
    box-shadow: 1px 1px 4px 2px rgb(0, 0, 0);
    color: rgb(99, 99, 99);
}

.user-image-icon {
    height: 30px;
    border-radius: 30px;
    font-size: 16px;
}

::ng-deep {
    .mat-menu-content {
        width: 160px;
    }
}