<h2 mat-dialog-title>Login With Username</h2>
<mat-dialog-content>
    <div mat-label>Username</div>
    <mat-form-field class="form-width" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username" placeholder="john doe"/>
    </mat-form-field>

    <div mat-label>Password</div>
    <mat-form-field class="form-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="password"/>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button color="accent" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="send()">Login</button>
</mat-dialog-actions>