<div class="container-center">
    <mat-card style="background-color: white;">
        <mat-card-title>
            <label style="font-size: 3em; color: rgb(116, 116, 116); font-weight: bold;">N</label>
            <label class="center" style="font-size: 1.5em; color: rgb(116, 116, 116); font-weight: bold; word-spacing: 5px;">eat
            </label>
            <label style="font-size: 3em; color: rgb(116, 116, 116); font-weight: bold;">A</label>
            <label class="center"
                style="font-size: 1.5em; color: rgb(116, 116, 116); font-weight: bold; word-spacing: 5px;">dmin</label>
        </mat-card-title>

        <div style="height: 1rem;"></div>
        <button mat-button style="width: 100%;" mat-raised-button color="accent" (click)="login()">
            <div style="color: rgb(116, 116, 116);">Login With Google</div>
        </button>
    </mat-card>
</div>