<div class="background">
    <div class="container-center">
        <mat-card>
            <label style="font-size: 3em; color: white; font-weight: bold;">N</label>
            <label class="center" style="font-size: 1.5em; color: white; font-weight: bold; word-spacing: 5px;">eat </label>
            <label style="font-size: 3em; color: white; font-weight: bold;">A</label>
            <label class="center" style="font-size: 1.5em; color: white; font-weight: bold; word-spacing: 5px;">dmin</label>
            <div style="height: 1rem;"></div>
            <button style="width: 100%;" mat-raised-button color="primary" (click)="login()">
                <div style="color: white;">Login With Google</div>
            </button>
        </mat-card>
    </div>
</div>